<p-tabMenu [model]="items"></p-tabMenu>
<p-table [value]="products" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Chuc Nang</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{product.author}}</td>
          <td>{{product.title}}</td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning" (click)="updateOnClick(product.id)"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteOnClick(product.id)"></button></td>
      </tr>
  </ng-template>
</p-table>
<!-- <p-confirmDialog key="confirm" icon="pi pi-exclamation-triangle" [style]="{width: '30vw'}"></p-confirmDialog> -->

