.btn-add{
  width: 100%;
  background-color: #fff;
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 20px;
  border-top: 1px solid #dee2e6;
}
:host ::ng-deep .p-tabview-nav{
  justify-content: center;
}
:host ::ng-deep .p-tabview .p-tabview-panels{
  padding: 0;
  margin: 0 20px;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th{
  text-align: center;
}

